* {
    font-family: "Bookman Old Style";
}

body {
    background-color: #b1c7b4;
    opacity: 80%;
}

h1 {
    text-align: center;
    margin-top: -5px;
    font-weight: bold;
    font-size: 27px;
}

.body-container,
.generate-container,
.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
}

.generate-container-clicked,
.custom-container-clicked,
.ip-container-show {
    -webkit-transition: opacity 0.35s ease-in-out;
    -moz-transition: opacity 0.35s ease-in-out;
    -ms-transition: opacity 0.35s ease-in-out;
    -o-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

.generate-container-clicked,
.custom-container-clicked {
    opacity: 0;
}

.ip-container-show {
    opacity: 1;
    margin-top: -100px;
}

.ip-container {
    opacity: 0;
}

#exit-btn,
#min-btn,
#generate-btn,
#custom-btn {
    color: #b1c7b4;
    background-color: green;
    border-color: green;
    border-radius: 4px;
    transition: 0.2s;
    font-family: Arial;
    text-align: center;
}

#min-btn {
    margin-left: -2px;
}

#generate-btn,
#custom-btn {
    display: inline-block;
    width: 100px;
    height: 35px;
    font-size: 13px;
    margin-top: 7px;
}

#exit-btn:hover,
#min-btn:hover,
#generate-btn:hover,
#custom-btn:hover {
    color: white;
    border-color: green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
}

#exit-btn:focus,
#min-btn:focus,
#generate-btn:focus,
#custom-btn:focus {
    background-color: green;
    border-color: green;
    outline: none;
}

.ip-box-show {
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    opacity: 1;
}

.ip-box {
    opacity: 0;
}